*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    background: #52313c;
    /*font-family: sans-serif; es para todos pero prefiero separarlo por ahora*/
    padding: 70px 5px 0;
}

.texto-del-inicio{
    color: #fff;
    padding: 5px;
    
    border-radius: 6px;
    font-size: 10px;

 
}
.cabecera{
    background-color:rgb(148, 128, 128);
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;

}

.navegacion{
    display: flex;
    justify-content: space-between;    
    /*width: 650px; */ 
    /*max-width: 992px;  este maximo me empujaba la mitad del boton de inicio para abajo*/  
    margin: 30 auto; /*"auto" es para que se centre en la pagina*/
    flex-direction: row;
    flex-wrap: nowrap;
    
    
}

.menu{
    position: relative;
    /*display: inline-block;*/
    display: flex;
    list-style: none;
    margin-right: 40px; /*separo las solapas 40px de la derecha porque el logo lo corri 40px a la izquierda*/

}

.menu > li > a{  /*para darle estilo a los enlaces "solapas1,2,3,4"*/
    
    /*padding: 15px 20px;  rellenos de 15px arriba y abajo y 20px a los costados*/
    color: black;
    /*font-family: sans-serif;*/
    font-size: 16px;
    width: max-content;
    text-decoration: none;  /*saco el subrayado*/   
    line-height: 80px; 
    margin: 0 40px;  /*arriba/abajo nada porque ya esta centrado y los separo 25*/
    text-transform: uppercase;  /*todo en mayuscula*/
    padding: 8px 12px;    
}
.menu ul ul {
    display: none;
}

.menu li:nth-last-child(-n+1) a{
    display: block;
    line-height: 20px;
    margin: 2px
    ;
}

.logo-empresa{
    color: rgb(190, 72, 17);
    font-size: 25px;
    font-weight: bold;
    padding: 0 40px; /*le doy 0 para arriba/abajo y 40 derecha/izquierda */
    line-height: 80px;  /*me centro el logo porque le di el tamaño del navegador*/
    text-decoration: none;
    
}
.logo-inicio {   
    background: none;
    color: rgb(190, 72, 17);
    border: none;
    font-size: 25px;
    padding: 0 20px;
    line-height: 60px;
    
    
}
/******PRUEBA*******/
.menu > li > a:hover{   /*de esta forma solo me paro sobre los menu "solapa" pero no sobre sus submenus*/
    background-color: rgb(44, 43, 43);
    color: white;
    /*transform: scale(1.3);*/
   
    border-radius: 5px;
    transition: all .3s;
}
.menu ul li:hover ul {
    display: flex;
    flex-direction: column;

}

/************************************** submenu****************************************************************************/
.submenu{
    position: absolute;
    background: #333333;
    
    /*width: 120%;   solo lo uso si la palabra del "submenu" supera el tamaño del "menu" del que viene*/  
    /*display: none;  es para que los submenus no aparezcan*/
    visibility: hidden;  /*este reeemplaza al "display" para poder darle un efecto*/
    opacity: 0;
    transition: opacity 1s;
    list-style: none;
   
}

.submenu li a{
    display: flex; 
    flex-direction: column;
    padding: 15px;   /*les dio 15px a todos los lado*/
    color: white;  /*las letras son blancas ahora*/
    text-decoration: none;  /*saco el subrayado*/
    border: 1px solid black;  /*recarca los bordes de cada caja subsolapa*/
    border-radius: 6px;
    transition: all 0s;
}
.menu li:hover .submenu{
    
    visibility: visible;  /*este reeemplaza al "display" para poder darle un efecto*/
    opacity: 1;   

}

/*********************************************************menu lateral**********************************************/


.navegacion-lateral{
 
    width:  150px;
    background-color: rgb(164, 98, 98) ;
    /*position: fixed;   esto sirve para que el menu quede fijo en la posicion que esta auque se escrolee, aca no tiene sentido usarlo*/ 
    border-radius: 3px;
}


.navegacion-lateral ul{   /*estoy llamando a las listas "ul" que estan dentro de "nav-lat"*/
    list-style: none;   /*saque los puntos de la lista*/
    /*display: block;*/
    /*justify-content: space-between;*/
}

.menu-lateral > li > a{
    display: block; /*les damos bloques*/
    padding: 15px; 
    color: black;
    font-family: 'Arial Narrow Bold';  /*cambiar por uno mejor*/
    font-size: 18px;
    text-decoration: none;    
}
.menu-lateral > li > a:hover{
    color: #fff;
    background-color: rgba(0,0,0,0.3);
    cursor: pointer;   
    
}
.menu-lateral li a:hover{    /*tengo que fucionarla con la de arriba*/
    /*color: blue;  para que cambien de color: cocina, comedor, etc */
    
    transition: all .3s;
}

.menu-lateral li:hover .submenu-lateral{  /*jardin terraza*/
    display: block;
    visibility: visible;  /*este reeemplaza al "display" para poder darle un efecto*/
    opacity: 1;   
    transition: all .6s;
    background-color: rgba(125, 14, 14, 0.242);
}
.menu-lateral li .submenu-lateral{
    padding: 15px;
    margin: 0;
    background: rgba(0,0,0,0.2);
    
    
}

/**************************************submenu lateral****************************************************/
.submenu-lateral{
    position: flex;
    visibility: hidden;  /*este reeemplaza al "display" para poder darle un efecto*/
   
    transition: opacity 1s;
    border-radius: 3px; 
    display: none;  
}
.submenu-lateral li{
    display: block;
   
}
.submenu-lateral li a{
    display: block;  /*coloco las "subsolapas" en bloque*/
    padding: 15px;   /* les dio 15px a todos los lado*/
    font-size: 18px;
    color: black;  /*las letras son blancas ahora*/
    text-decoration: none;  /*saco el subrayado*/
    transition: all 0.5s;  
}
.submenu-lateral li a:hover{
    color: #fff;
}
.icono{
    float: right;
    font-size: 16px;
}
h2{
    margin: 10px;
    color: black;
    /*font-size: 20px;*/
    font-family: 'Arial Narrow'; 
       
}

/********************************************************** imagenes y fondo cocina******************************************************/
.title-cocina{
    width: 100%;
    height: 50px;
    background-color: rgb(180, 81, 81);
    text-align: center;
    line-height: 50px;
    font-size: 28px;
    font-family: cursive;
}
.fondo-cocina{
    background-image: url("../static/img/imagen-cocina.jpg");
    background-size: cover;
    width: 100%;
    height: 650px;
    opacity: 0.6;

}
.image-grid-cocina{
    display: grid;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(2, 300px);
    justify-content: center;
    align-content: center;
    column-gap: 80px;
    row-gap: 40px;  
}
.image-grid-cocina img{
    border-radius: 10px;
    border: 3px solid rgb(35, 41, 37);
    width: 100%;
    height: 100%;
    max-height: calc(90% - 3px);
    object-fit: cover;
}
.pie-de-section-cocina{
    height: 60px;
    background-color: rgb(180, 81, 81);
    width: 100%;
    color: black;
    font: message-box;

}
/******************************************************************* imagenes y fondo comedor***************************************************/
.title-comedor{
    width: 100%;
    height: 50px;
    background-color: gray;
    text-align: center;
    line-height: 50px;
    font-size: 28px;
    font-family: cursive;
}
.fondo-comedor{
    background-image: url("../static/img/imagen-comedor.jpg");
    background-size: cover;
    width: 100%;
    height: 650px;
    opacity: 0.6;
}
.image-grid-comedor{
    display: grid;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(2, 300px);
    justify-content: center;
    align-content: center;
    column-gap: 80px;
    row-gap: 40px;  
}
.image-grid-comedor img{
    border-radius: 10px;
    border: 3px solid rgb(35, 41, 37);
    width: 100%;
    height: 100%;
    max-height: calc(90% - 3px);
    object-fit: cover;
}
.pie-de-section-comedor{
    height: 60px;
    background-color: gray;
    width: 100%;
    color: black;
    font: message-box;

}
/********************************************************** imagenes y fondo living****************************************************/
.title-living{
    width: 100%;
    height: 50px;
    background-color: goldenrod;
    text-align: center;
    line-height: 50px;
    font-size: 28px;
    font-family: cursive;
}
.fondo-living{
    background-image: url("../static/img/imagen-living.jpg");
    background-size: cover;
    width: 100%;
    height: 650px;
    opacity: 0.6;
}
.image-grid-living{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(2, 300px);
    justify-content: center;
    align-content: center;
    column-gap: 80px;
    row-gap: 40px;  
}
.image-grid-living img{
    border-radius: 10px;
    border: 3px solid rgb(35, 41, 37);
    width: 100%;
    height: 100%;
    max-height: calc(90% - 3px);
    object-fit: cover;
}
.pie-de-section-living{
    height: 60px;
    background-color: goldenrod;
    width: 100%;
    color: black;
    font: message-box;
}
/************************************************** imagenes y fondo dormitorio**************************************************/
.title-dormitorio{
    width: 100%;
    height: 50px;
    background-color: rgb(143, 133, 189);
    text-align: center;
    line-height: 50px;
    font-size: 28px;
    font-family: cursive;
}
.fondo-dormitorio{
    background-image: url("../static/img/imagen-dormitorio.jpg");
    background-size: cover;
    width: 100%;
    height: 650px;
    opacity: 0.6;
}
.image-grid-dormitorio{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(2, 300px);
    justify-content: center;
    align-content: center;
    column-gap: 80px;
    row-gap: 40px;  
}
.image-grid-dormitorio img{
    border-radius: 10px;
    border: 3px solid rgb(35, 41, 37);
    width: 100%;
    height: 100%;
    max-height: calc(90% - 3px);
    object-fit: cover;
}
.pie-de-section-dormitorio{
    height: 60px;
    background-color: rgb(143, 133, 189);
    width: 100%;
    color: black;
    font: message-box;
}
/************************************************************ imagenes y fondo baño*********************************************************/
.title-baño{
    width: 100%;
    height: 50px;
    background-color: rgb(23, 4, 109);
    text-align: center;
    line-height: 50px;
    font-size: 28px;
    font-family: cursive;
}
.fondo-baño{
    background-image: url("../static/img/imagen-baño.jpg");
    background-size: cover;
    width: 100%;
    height: 650px;
    opacity: 0.6;
}
.image-grid-baño{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(2, 300px);
    justify-content: center;
    align-content: center;
    column-gap: 80px;
    row-gap: 40px;  
}
.image-grid-baño img{
    border-radius: 10px;
    border: 3px solid rgb(35, 41, 37);
    width: 100%;
    height: 100%;
    max-height: calc(90% - 3px);
    object-fit: cover;
}
.pie-de-section-baño{
    height: 60px;
    background-color: rgb(23, 4, 109);
    width: 100%;
    color: black;
    font: message-box;
}

/*************************************************************** imagenes y fondo jardin*****************************************************/
.title-jardin{
    width: 100%;
    height: 50px;
    background-color: rgb(83, 189, 106);
    text-align: center;
    line-height: 50px;
    font-size: 28px;
    font-family: cursive;
}
.fondo-jardin{
    position: relative;
    background-image: url("../static/img/imagen-jardin.jpg");
    background-size: cover;
    width: 100%;
    height: 650px;
    opacity: 0.6;
}
.image-grid-jardin{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(2, 300px);
    justify-content: center;
    align-content: center;
    column-gap: 80px;
    row-gap: 40px;  
}
.image-grid-jardin img{
    border-radius: 10px;
    border: 3px solid rgb(35, 41, 37);
    width: 100%;
    height: 100%;
    max-height: calc(90% - 3px);
    object-fit: cover;
}
.pie-de-section-jardin{
    height: 60px;
    background-color: rgb(83, 189, 106);
    width: 100%;
    color: black;
    font: message-box;
}
/************************************************************ imagenes y fondo terrazas*****************************************************/
.title-terraza{
    width: 100%;
    height: 50px;
    background-color: rgb(192, 138, 58);
    text-align: center;
    line-height: 50px;
    font-size: 28px;
    font-family: cursive;
}
.fondo-terraza{
    position: relative;
    background-image: url("../static/img/imagen-terraza.jpg");
    background-size: cover;
    width: 100%;
    height: 650px;
    opacity: 0.6;
}
.image-grid-terraza{
    display: grid;
    width: 100%;
    height: 100%;
    /*grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));   NO LO ENTENDI BIEN AUN */
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(2, 300px);
    justify-content: center;
    align-content: center;
    column-gap: 80px;
    row-gap: 40px;  
}
.image-grid-terraza img{
    border-radius: 10px;
    border: 3px solid rgb(35, 41, 37);
    width: 100%;
    height: 100%;
    max-height: calc(90% - 3px);
    object-fit: cover;
}
.pie-de-section-terraza{
    height: 60px;
    background-color: rgb(192, 138, 58);
    width: 100%;
    color: black;
    font: message-box;
}
.pie-de-pagina{
    width: 100%;
    height: 300px;
    background-color: black;
    color: #fff;
    text-align: center;
}
.boton{
    position: fixed;  /*lo fijo a la posicion de 350px respecto del limite inferior*/
    /*bottom: 320px;  lo elevo 350px ya que el pie de pagina tiene 300px */
    bottom: 100px;
    right: 50px;  /*lo alejo 50px del lateral derecho*/
    height: 35px;
    width: 35px;
    font-size: 45px;
    
}

.boton i{
    border: black solid 2px;
    border-radius: 50%;
    color: rgb(28, 4, 28);
    cursor: pointer;
} 
.boton i:hover{
    color: #c42d5f;
}
                                                                                                                                                                                                          


@media only screen and (max-width: 600px){
    .image-grid{
        grid-template-columns: repeat(1, minmax (200px, 1fr));  /*lo tengo que cabiar para que sean dos columnas */
    }
}



/*intentamos sombrear 
.contenedor{
    position: relative;
    display: inline-block;
}
.contenedor img{
    display: block;
    max-width: 100%;
    height: auto;
}
.contenedor::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
}
termina sombreado. No funciono, quedo horrible*/

/*.fondo-cocina{
    height: 700px;
    background-image: url("../static/img/imagen-cocina.jpg");
    background-size: contain;
    background-position: center;
    opacity: 0.3;
}


.fondo-comedor{
    height: 700px;
    background-image: url("../static/img/imagen-comedor.jpg");
    background-size: contain;
    background-position: center;
    opacity: 0.3;
}

.fondo-living{
    height: 700px;
    background-image: url("../static/img/imagen-deco.jpg");
    background-size: contain;
    background-position: center;
    opacity: 0.3;
}
.fondo-dormitorio{
    height: 700px;
    background-image: url("../static/img/imagen-dormitorio.jpg");
    background-size: contain;
    background-position: center;
    opacity: 0.3;
}
.fondo-baño{
    height: 700px;
    background-image: url("../static/img/imagen-baño.jpg");
    background-size: contain;
    background-position: center;
    opacity: 0.3;
}
.fondo-jardin{
    height: 700px;
    background-image: url("../static/img/imagen-jardin.jpg");
    background-size: contain;
    background-position: center;
    opacity: 0.3;
}
.fondo-terraza{
    height: 700px;
    background-image: url("../static/img/imagen-terraza.jpg");
    background-size: contain;
    background-position: center;
    opacity: 0.3;
}*/
