* {
    margin: 0;
    padding: 0;

}
body{
    background-color: rgb(85, 151, 99);
}
.nom-pag{
    display: flex;
    height: 80px;
    width: 100%;
    background: rgb(23, 67, 50);
    color: white;
    padding: 0 0 0 15px; 
}
h1{
    line-height: 80px;
    vertical-align: middle;
}
.google-face-container {
    /*background-color: rgb(103, 138, 157);*/
    display: block;
    height: auto;
    width: 380px;
    /*border: black solid 3px;
    border-radius: 7px;*/
    margin-left: 490px; 
}
.item-google {
    width: 360px;  
    background: white;
    padding: 8px;
    font-size: 12px;
    border-radius: 4px;
    text-align: center;   
}
.ini-google{
    font-size: 21px;
    text-decoration: none;

}
.item-face {
    width: 360px;
    background: blue;
    padding: 8px;
    font-size: 12px;
    border-radius: 4px;
    text-align: center;
}
.ini-face{
    font-size: 21px;
    text-decoration: none;
    color: white;
}

.correo-pass {
    background-color: rgb(103, 138, 157);
    display: block;
    height: auto;
    width: 380px;
    border: black solid 3px;
    border-radius: 7px;
    margin-left: 495px;   
}
.correo-electronico{
    display: flex;
    flex-direction: column;
}
p{
    padding: 7px;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
input{
    width: 350px;
    height: 30px;
}
div {
    font-size: 15px;
    padding: 15px 0 15px 10px; 
}
input {
    border-radius: 8px;
    width: 350px;
}

label {
    font-size: 20px;
    font-family: sans-serif;
}
.boton-inicio {
    margin-left: 15px;
    background: rgb(23, 67, 50);
    color: white;
    border: black solid 2px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 4px;
    padding: 7px;
    width: 350px;
    cursor: pointer;
}
/****************************************** Estilo personalizado para el icono de sweetAlert2 ********************************************************/
.swal2-icon{
    width: 68px !important;
    height: 28px !important; 
}
.swal2-title{
    margin-top: 10px !important;
    color: red !important;
    font-size: 28px !important;
}
.swal2-popup {
    width: 300px !important; /* Ancho para la ventana */
    font-size: 15px;
}
/********************************************************************************************************************/
.boton {
    display: block;
    width: 100%;
    
}
.boton-volver {
    margin-left: 635px;
    font-size: 21px;
    background: rgb(103, 138, 157);
    border-radius: 3px;    
}
.texto {
    padding: 7px;
    color: black;
    text-decoration: none;
}
@media screen and (max-width: 767px) {

    .google-face-container {
        margin-left: 60px;   
    }
    .item-google {
        width: 200px;
    }
    .ini-google{
        font-size: 15px;
    }
    .item-face {
        width: 200px;
    }
    .ini-face{
        font-size: 15px;
    }
    .correo-pass {
        width: 210px;
        margin-left: 70px;   
    }
    input{
        width: 185px;
    }
    .boton-inicio {
        margin-left: 9px;
        padding: 7px;
        width: 190px;
    }
    .boton-volver {
        margin-left: 135px;
        font-size: 18px;
    }

    .swal2-title{
        margin-top: 20px !important;
        color: red !important;
        font-size: 18px !important;
    }
    .swal2-popup {
        width: 150px !important; /* Ancho para la ventana */
        height: 250px;
        font-size: 8px !important;
    }

}
@media screen and (min-width: 768px) and (max-width: 1023px) { 
    .google-face-container {
        margin-left: 290px;   
    }
    .item-google {
        width: 290px;
    }
    .ini-google{
        font-size: 18px;
    }
    .item-face {
        width: 290px;
    }
    .ini-face{
        font-size: 18px;
    }
    .correo-pass {
        width: 299px;
        margin-left: 300px;   
    }
    input{
        width: 275px;
    }
    .boton-inicio {
        margin-left: 10px;
        padding: 7px;
        width: 278px;
    }
    .boton-volver {
        margin-left: 410px;
        font-size: 18px;
    }
}