*{
  margin: 0;
  padding: 0;
}
body{
  background-color: grey;
}
.nom-barra{
  width: 100%;
  height: 70px;
  background-color: rgb(76, 123, 76);
  line-height: 70px; /*centra en el eje Y mi texto*/
}
.nom-empresa{
  margin-left: 15px;
  font-size: 30px;
  font-weight: bold;
}
.titulo-imagenes{
  height: 30px;
  width: 100%;
  text-align: center;
  line-height: 0px;
}
.text-imagenes{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
  color: rgb(25, 42, 25);
  font-weight: bold;
}
.slideshow-container {
  position: relative;
  max-width: 1000px;
  margin-left: 100px;
}
  
.slide {
  display: none;
}
  
img {
  width: 550px;
  height: 450px;
  border: rgb(57, 53, 53) solid 3px;
  border-radius: 7px;
}
  
  /* Estilo para las flechas de navegación */
.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
  cursor: pointer;
  color: rgb(25, 42, 25);
}
 
.prev {
  left: -45px;
}
  
.next {
  right: 405px;
}

.prev:hover{
  background-color: rgba(0, 0, 0, 0.1);
  color: rgb(211, 200, 200);
  font-size: 45px;
}
.next:hover{
  background-color: rgba(0, 0, 0, 0.1);
  color: rgb(211, 200, 200);
  font-size: 45px;
}

@media screen and (max-width: 767px){
  .slideshow-container {
    margin-left: 50px;
  }
  img {
    width: 260px;
    height: 250px; 
  }
  .prev, .next {
    font-size: 30px;
  }
    
  .prev {
    left: -30px;
  }
    
  .next {
    right: 25px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px){
  .slideshow-container {
    margin-left: 50px;
  }
  img {
    width: 430px;
    height: 380px; 
  }

  .prev {
    left: -30px;
  }
  .next {
    right: 375px;
  }
}