* {
    margin: 0;
    padding: 0;
}

.bar-superior {

    text-align: center;
    height: 80px;
    width: 100%;
    background: rgb(121, 121, 232);
}
h1 {
    padding-top: 13px;
}
.ubic {
    margin: 0 15px 0 15px;
    display: flex;
    flex-direction: row;
    border: white solid 3px;
}
.map {
    margin-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.container-suc {
    margin-left: 350px;
    margin-top: 140px;
}
.container-medios-transporte {
    display: block;
    margin-left: 20px;
}
.boton {
    display: block;
    width: 100%;
    
}
.boton-volver {
    margin-left: 650px;
    font-size: 21px;
    background: rgb(46, 7, 46);
    border-radius: 3px;
     
}
.texto {
    padding: 7px;
    color: white;
    text-decoration: none;
}