* {
    margin: 0;
    padding: 0;

}
body{
    background-image: url(https://images.pexels.com/photos/1552212/pexels-photo-1552212.jpeg?auto=compress&cs=tinysrgb&w=1360&h=1200&dpr=1);  /*modifique las medidas directamente en la url*/
}
.nom-pag{
    display: flex;
    height: 80px;
    width: 100%;
    background: rgb(90, 152, 124);
    color: white;
    padding: 0 0 0 15px;
    
}
h1{
    line-height: 70px;
    vertical-align: middle;
    text-align: center;
}
.reg-container {
    /* background-color: rgb(90, 152, 124); */

    display: block;
    height: auto;
    width: 380px;
    border: black solid 3px;
    border-radius: 13px;
    margin-left: 490px;
}
.registro-items {
    display: flex;
    flex-direction: column;
}
div {
    font-size: 15px;
    padding: 7px 0 7px 10px; 
}

input {
    border-radius: 12px;
    height: 25px;
    width: 340px;
    cursor: pointer;
    color: rgb(61, 61, 169);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

#term-cond{
    width: 15px;
    height: 15px;
}
h2 {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
label {
    font-size: 11px;
    font-weight: bold;
    font-family: sans-serif;
    color: white;
}
input:hover{
    background: rgb(166, 153, 153);
}
.boton-registro {
    margin-left: 15px;
    background: black;
    color: white;
    border: white solid 2px;
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 4px;
    padding: 7px;
    cursor: pointer;
}
/****************************************** Estilo personalizado para el icono de sweetAlert2 ********************************************************/
.swal2-icon{
    width: 68px !important;
    height: 58px !important; 
}
.swal2-title{
    margin-top: 10px !important;
    color: red !important;
    font-size: 28px !important;
}
.swal2-popup {
    width: 300px !important; /* Ancho para la ventana */
}

/********************************************************************************************************************/
.boton {
    display: block;
    width: 100%;   
}
.boton-volver {
    margin-left: 635px;
    font-size: 21px;
    /* background: rgb(90, 152, 124); */
    background: transparent;
    border-radius: 3px;    
}
.boton-volver:hover{
    background-color: white;
}
.texto {
    padding: 7px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.texto:hover{
    color: black;
}

@media screen and (max-width: 767px) {
    .reg-container {
        width: 300px;
        margin-left: 25px;
    }
    input{
        width: 255px;
    }
    .boton-volver {
        margin-left: 135px;
    }
    .swal2-title{
        margin-top: 20px !important;
        color: red !important;
        font-size: 18px !important;
    }
    .swal2-popup {
        width: 150px !important; /* Ancho para la ventana */
        height: 250px;
        font-size: 8px !important;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) { 
    .reg-container {
        margin-left: 245px;
       
        
    } 
    .boton-volver {
        margin-left: 390px;
    }
    
}

