*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    background: #52313c;
    /*font-family: sans-serif; es para todos pero prefiero separarlo por ahora*/
    padding: 70px 5px 0;
}

.texto-del-inicio{
    color: #fff;
    padding: 5px;
    
    border-radius: 6px;
    font-size: 10px;

 
}
.cabecera{
    background-color:rgb(148, 128, 128);
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;

}

.navegacion{
    display: flex;
    justify-content: space-between;    
    /*width: 650px; */ 
    /*max-width: 992px;  este maximo me empujaba la mitad del boton de inicio para abajo*/  
    margin: 30 auto; /*"auto" es para que se centre en la pagina*/
    flex-direction: row;
    flex-wrap: nowrap;
    
    
}

.menu{
    position: relative;
    /*display: inline-block;*/
    display: flex;
    list-style: none;
    margin-right: 40px; /*separo las solapas 40px de la derecha porque el logo lo corri 40px a la izquierda*/

}

.menu > li > a{  /*para darle estilo a los enlaces "solapas1,2,3,4"*/
    
    /*padding: 15px 20px;  rellenos de 15px arriba y abajo y 20px a los costados*/
    color: black;
    /*font-family: sans-serif;*/
    font-size: 16px;
    width: max-content;
    text-decoration: none;  /*saco el subrayado*/   
    line-height: 80px; 
    margin: 0 40px;  /*arriba/abajo nada porque ya esta centrado y los separo 25*/
    text-transform: uppercase;  /*todo en mayuscula*/
    padding: 8px 12px;    
}
.menu ul ul {
    display: none;
}

.menu li:nth-last-child(-n+1) a{
    display: block;
    line-height: 20px;
    margin: 2px
    ;
}

.logo-empresa{
    color: rgb(190, 72, 17);
    font-size: 25px;
    font-weight: bold;
    padding: 0 40px; /*le doy 0 para arriba/abajo y 40 derecha/izquierda */
    line-height: 80px;  /*me centro el logo porque le di el tamaño del navegador*/
    text-decoration: none;
    
}
.logo-inicio {   
    background: none;
    color: rgb(190, 72, 17);
    border: none;
    font-size: 25px;
    padding: 0 20px;
    line-height: 60px;
    
    
}
/******PRUEBA*******/
.menu > li > a:hover{   /*de esta forma solo me paro sobre los menu "solapa" pero no sobre sus submenus*/
    background-color: rgb(44, 43, 43);
    color: white;
    /*transform: scale(1.3);*/
   
    border-radius: 5px;
    transition: all .3s;
}
.menu ul li:hover ul {
    display: flex;
    flex-direction: column;

}

/************************************** submenu****************************************************************************/
.submenu{
    position: absolute;
    background: #333333;
    
    /*width: 120%;   solo lo uso si la palabra del "submenu" supera el tamaño del "menu" del que viene*/  
    /*display: none;  es para que los submenus no aparezcan*/
    visibility: hidden;  /*este reeemplaza al "display" para poder darle un efecto*/
    opacity: 0;
    transition: opacity 1s;
    list-style: none;
   
}

.submenu li a{
    display: flex; 
    flex-direction: column;
    padding: 15px;   /*les dio 15px a todos los lado*/
    color: white;  /*las letras son blancas ahora*/
    text-decoration: none;  /*saco el subrayado*/
    border: 1px solid black;  /*recarca los bordes de cada caja subsolapa*/
    border-radius: 6px;
    transition: all 0s;
}
.menu li:hover .submenu{
    
    visibility: visible;  /*este reeemplaza al "display" para poder darle un efecto*/
    opacity: 1;   

}

/*********************************************************menu lateral**********************************************/


.navegacion-lateral{
 
    width:  150px;
    background-color: rgb(164, 98, 98) ;
    /*position: fixed;   esto sirve para que el menu quede fijo en la posicion que esta auque se escrolee, aca no tiene sentido usarlo*/ 
    border-radius: 3px;
}


.navegacion-lateral ul{   /*estoy llamando a las listas "ul" que estan dentro de "nav-lat"*/
    list-style: none;   /*saque los puntos de la lista*/
    /*display: block;*/
    /*justify-content: space-between;*/
}

.menu-lateral > li > a{
    display: block; /*les damos bloques*/
    padding: 15px; 
    color: black;
    font-family: 'Arial Narrow Bold';  /*cambiar por uno mejor*/
    font-size: 18px;
    text-decoration: none;    
}
.menu-lateral > li > a:hover{
    color: #fff;
    background-color: rgba(0,0,0,0.3);
    cursor: pointer;   
    
}
.menu-lateral li a:hover{    /*tengo que fucionarla con la de arriba*/
    /*color: blue;  para que cambien de color: cocina, comedor, etc */
    
    transition: all .3s;
}

.menu-lateral li:hover .submenu-lateral{  /*jardin terraza*/
    display: block;
    visibility: visible;  /*este reeemplaza al "display" para poder darle un efecto*/
    opacity: 1;   
    transition: all .6s;
    background-color: rgba(125, 14, 14, 0.242);
}
.menu-lateral li .submenu-lateral{
    padding: 15px;
    margin: 0;
    background: rgba(0,0,0,0.2);   
}

/************************************************video de nosotros*********************************************************/

.contenedor-menu-lateral-video{
    display: flex;
    
}
.contenedor-video-central{
    display: block;
    margin-left: 280px;
    /*border: black solid 3px;*/
}
/*falta preguntar como eliminar la separacon entre video y comentario*/
.comentario-video{
    padding-bottom: 8px;
    font-size: 28px;
    font-family: cursive;
    color: rgb(18, 10, 18);
    background-color: rgb(220, 167, 68);
}
.comentario-video p{
    text-align: center;  /*envio el texto al centro*/
}

/******************************************************submenu lateral****************************************************/
.submenu-lateral{
    position: flex;
    visibility: hidden;  /*este reeemplaza al "display" para poder darle un efecto*/
   
    transition: opacity 1s;
    border-radius: 3px; 
    display: none;  
}
.submenu-lateral li{
    display: block;
   
}
.submenu-lateral li a{
    display: block;  /*coloco las "subsolapas" en bloque*/
    padding: 15px;   /* les dio 15px a todos los lado*/
    font-size: 18px;
    color: black;  /*las letras son blancas ahora*/
    text-decoration: none;  /*saco el subrayado*/
    transition: all 0.5s;  
}
.submenu-lateral li a:hover{
    color: #fff;
}
.icono{
    float: right;
    font-size: 16px;
}
h2{
    margin: 10px;
    color: black;
    /*font-size: 20px;*/
    font-family: 'Arial Narrow'; 
       
}
.container{
    background-color: #fff;
}
/********************************************************** imagenes y fondo cocina******************************************************/
.title-cocina{
    width: 100%;
    height: 60px;
    background-color: rgb(180, 81, 81);
    text-align: center;
    line-height: 4.5vw;
    font-size: 2.5vw;
    font-family: cursive;
}
.fondo-cocina{
    /*background-color: rgba(255, 255, 255, 0.3);  Color blanco con 30% de opacidad */
    background-image: url("https://cdn-blog.superprof.com/blog_ca/wp-content/uploads/2024/03/pexels-ella-wei-6549194-1400x933.jpg.webp");    /*../img/imagen-cocina.jpg*/
    background-size: cover;
    width: 100%;
    height: 650px;
    /* opacity: 0.3; no funciono */
    z-index: -1;
}
.image-grid-cocina{
    /* background-color: #333333; lo utilice para ver la disposicion del contenedor */
    display: grid;
    height: 650px;
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: repeat(2, 275px);
    justify-content: center;
    align-content: center;
    column-gap: 15px;
    row-gap: 15px;  
    /* padding-top: 120px; */
} 

.image-grid-cocina img{
    justify-items: center;
    align-items: center;
    border-radius: 6px;
    border: 2.5px solid rgb(35, 41, 37);
    width: 190px;
    height: 245px;     
}
#cocina1{
    /* background-color: green; lo utilice para ver la seccion total que ocupaba la imagen*/
    place-self: center;
}
#cocina2{
    /* background-color: green; lo utilice para ver la seccion total que ocupaba la imagen*/
    place-self: center;
}
#cocina3{
    /* background-color: green; lo utilice para ver la seccion total que ocupaba la imagen*/
    place-self: center;
}
#cocina4{
    /* background-color: green; lo utilice para ver la seccion total que ocupaba la imagen*/
    place-self: center;
}
#cocina5{
    /* background-color: green; lo utilice para ver la seccion total que ocupaba la imagen*/
    place-self: center;
}
#cocina6{
    /* background-color: green; lo utilice para ver la seccion total que ocupaba la imagen*/
    place-self: center;
}
#cocina7{
    /* background-color: green; lo utilice para ver la seccion total que ocupaba la imagen*/
    place-self: center;
}
#cocina8{
    /* background-color: green; lo utilice para ver la seccion total que ocupaba la imagen*/
    place-self: center;
}
.pie-de-section-cocina{
    height: 60px;
    background-color: rgb(180, 81, 81);
    width: 100%;
    color: black;
    font: message-box;
    text-align: center;
    line-height: 60px;
}
/******************************************************************* imagenes y fondo comedor***************************************************/
.title-comedor{
    width: 100%;
    height: 60px;
    background-color: gray;
    text-align: center;
    line-height: 4.5vw;
    font-size: 2.5vw;
    font-family: cursive;
}
.fondo-comedor{
    background-image: url("https://images.pexels.com/photos/2092058/pexels-photo-2092058.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");   /*../img/imagen-comedor.jpg*/
    background-size: cover;
    width: 100%;
    height: 650px;
    /* opacity: 0.6; */
    z-index: -1;
}
.image-grid-comedor{
    display: grid;
    /* width: 100%; */
    height: 650px;
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: repeat(2, 275px);
    justify-content: center;
    align-content: center;
    column-gap: 15px;
    row-gap: 15px;  
    /* padding: 5vw; */
}
.image-grid-comedor img{
    border-radius: 6px;
    border: 2.5px solid rgb(35, 41, 37);
    width: 190px;
    height: 245px;
    /* max-height: calc(90% - 0.6vw); */
    justify-items: center;
    align-items: center;
}
#comedor-item{
    place-self: center;
}
.pie-de-section-comedor{
    height: 60px;
    background-color: gray;
    width: 100%;
    color: black;
    font: message-box;
    text-align: center;
    line-height: 60px;
}
/********************************************************** imagenes y fondo living****************************************************/

.title-living{
    width: 100%;
    height: 60px;
    background-color: goldenrod;
    text-align: center;
    line-height: 4.5vw;
    font-size: 2.5vw;
    font-family: cursive;
}
.fondo-living{
    background-image: url("https://larepublica.es/wp-content/uploads/2019/10/Imagen-12.jpg");   /*../img/imagen-living.jpg*/
    background-size: cover;
    width: 100%;
    height: 650px;
    /* opacity: 0.6; */
    z-index: -1;
}
.image-grid-living{
    display: grid;
    height: 650px;
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: repeat(2, 275px);
    justify-content: center;
    align-content: center;
    column-gap: 15px;
    row-gap: 15px;
      
}
.image-grid-living img{
    border-radius: 6px;
    border: 2.5px solid rgb(35, 41, 37);
    width: 190px;
    height: 245px;
    justify-items: center;
    align-items: center;
}
#living-item{
    place-self: center;
}
.pie-de-section-living{
    height: 60px;
    background-color: goldenrod;
    width: 100%;
    color: black;
    font: message-box;
    text-align: center;
    line-height: 60px;
}
/************************************************** imagenes y fondo dormitorio**************************************************/

.title-dormitorio{
    width: 100%;
    height: 60px;
    background-color: rgb(143, 133, 189);
    text-align: center;
    line-height: 4.5vw;
    font-size: 2.5vw;
    font-family: cursive;
}

.fondo-dormitorio{
    background-image: url("https://i.pinimg.com/736x/f7/db/b9/f7dbb9e8cfc747d0eba4e382bd7bc8ab.jpg");     /*../img/imagen-dormitorio.jpg*/
    background-size: cover;
    width: 100%;
    height: 650px;
    /* opacity: 0.6; */
    z-index: -1;
}

.image-grid-dormitorio{
    display: grid;
    height: 650px;
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: repeat(2, 275px);
    justify-content: center;
    align-content: center;
    column-gap: 15px;
    row-gap: 15px;  
}

.image-grid-dormitorio img{
    border-radius: 6px;
    border: 2.5px solid rgb(35, 41, 37);
    width: 190px;
    height: 245px;
    justify-items: center;
    align-items: center;
}
#dormitorio-item{
    place-self: center;
}
.pie-de-section-dormitorio{
    height: 60px;
    background-color: rgb(143, 133, 189);
    width: 100%;
    color: black;
    font: message-box;
    text-align: center;
    line-height: 60px;
}
/************************************************************ imagenes y fondo de baño*********************************************************/

.title-baño{
    width: 100%;
    height: 60px;
    background-color: rgb(23, 4, 109);
    text-align: center;
    line-height: 4.5vw;
    font-size: 2.5vw;
    font-family: cursive;
}

.fondo-baño{
    background-image: url("https://trepryor.com/blog/wp-content/uploads/2024/05/updated-bathroom.jpg");      /*../img/imagen-baño.jpg*/
    background-size: cover;
    width: 100%;
    height: 650px;
    z-index: -1;
}

.image-grid-baño{
    display: grid;
    height: 650px;
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: repeat(2, 275px);
    justify-content: center;
    align-content: center;
    column-gap: 15px;
    row-gap: 15px; 
}
.image-grid-baño img{
    /* border-radius: 10px; */
    border-radius: 6px;
    /* border: 3px solid rgb(35, 41, 37); */
    border: 2.5px solid rgb(35, 41, 37);
    width: 190px;
    height: 245px;
    justify-items: center;
    align-items: center;
}
#baño-item{
    place-self: center;
}
.pie-de-section-baño{
    height: 60px;
    background-color: rgb(23, 4, 109);
    width: 100%;
    color: black;
    font: message-box;
    text-align: center;
    line-height: 60px;
}

/******************************************** imagenes y fondo jardin*************/
.title-jardin{
    width: 100%;
    height: 60px;
    background-color: rgb(83, 189, 106);
    text-align: center;
    line-height: 4.5vw;
    font-size: 2.5vw;
    font-family: cursive;
}

.fondo-jardin{
    /* position: relative; me impide redireccionar al link google del href*/
    background-image: url("https://images.pexels.com/photos/2101187/pexels-photo-2101187.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");    /*../img/imagen-jardin.jpg*/
    background-size: cover;
    width: 100%;
    height: 650px;
    z-index: -1;
}

.image-grid-jardin{   
    display: grid;
    height: 650px;
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: repeat(2, 275px);
    justify-content: center;
    align-content: center;
    column-gap: 15px;
    row-gap: 15px;  
}

.image-grid-jardin img{
    border-radius: 6px;
    border: 0.2vw solid rgb(35, 41, 37);
    width: 190px;
    height: 245px;
}
#jardin-item{
    place-self: center;
}
.pie-de-section-jardin{
    height: 60px;
    background-color: rgb(83, 189, 106);
    width: 100%;
    color: black;
    font: message-box;
    text-align: center;
    line-height: 60px;
}
/************************************************************ imagenes y fondo terrazas*****************************************************/

.title-terraza {
    width: 100%;
    height: 60px; 
    background-color: rgb(192, 138, 58);
    text-align: center;
    line-height: 4.5vw; /* Centre terraza en medio del contenedor */
    font-size: 2.5vw; /* tamaño de texto */
    font-family: cursive;
}

.fondo-terraza {
    /* position: relative;  me impide redireccionar al link google del href*/
    background-image: url("https://mllcustom.com/wp-content/uploads/2022/09/patio-near-railings-at-night.png");
    background-size: cover;
    width: 100%;
    height: 650px; 
    z-index: -1;
}

.image-grid-terraza {
    display: grid;
    height: 650px;
    grid-template-columns: repeat(4, 300px); 
    grid-template-rows: repeat(2, 275px);
    justify-content: center;
    align-content: center;
    column-gap: 15px; 
    row-gap: 15px; 
}

.image-grid-terraza img {
    border-radius: 6px; 
    border: 2.5px solid rgb(35, 41, 37); 
    width: 190px;
    height: 245px;
    justify-items: center;
    align-items: center;
}
#terraza-item{
    place-self: center;
}
.pie-de-section-terraza {
    height: 60px; /* Cambiado a relativo */
    background-color: rgb(192, 138, 58);
    width: 100%;
    color: black;
    font: message-box;
    text-align: center;
    line-height: 60px;
}
/*************************************************************pie de pagina****************************************************************/
.pie-de-pagina{
    width: 100%;
    height: 300px;
    background-color: black;
    color: #fff;
    text-align: center;
}
.boton{
    position: fixed;  /*lo fijo a la posicion de 350px respecto del limite inferior*/
    /*bottom: 320px;  lo elevo 350px ya que el pie de pagina tiene 300px */
    bottom: 100px;
    right: 50px;  /*lo alejo 50px del lateral derecho*/
    height: 35px;
    width: 35px;
    font-size: 45px;
    
}
.boton a i{
    border: black solid 2px;
    border-radius: 50%;
    color: rgb(28, 4, 28);
    cursor: pointer;
} 
.boton i:hover{
    color: #c42d5f;
}
                                                                                                                                                                                                          

@media screen and (max-width: 767px) {     /* Media query para pantallas hasta 767px usamos iphone SE como modelo */
    /******************************************************seccion cocina responsive***************************************/
    .title-cocina {
        height: 30px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 5.5vw;
        line-height: 8vw;  /*Centre el texto a lo alto*/
    }
    .fondo-cocina {
        height: 350px;
    }
    .image-grid-cocina {
        height: 350px; 
        grid-template-columns: repeat(3, 80px);
        grid-template-rows: repeat(3, 100px);
        justify-content: center;
        align-content: center;  
        column-gap: 5px;
        row-gap: 5px; 
         
    }
    .image-grid-cocina img {
        border-radius: 5px; 
        border: 1.5px solid black; 
        width: 70px;
        height: 80px; 
    }
    .pie-de-section-cocina {
        height: 30px; 
        font-size: 3vw;
        text-align: center;
    }
    /******************************************************seccion comedor responsive***************************************/
    .title-comedor {
        height: 30px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 5.5vw;
        line-height: 8vw;  /*Centre el texto a lo alto*/
    }
    .fondo-comedor {
        height: 350px;
    }
    .image-grid-comedor {
        height: 350px;
        grid-template-columns: repeat(3, 80px);
        grid-template-rows: repeat(3, 100px);
        justify-content: center;
        align-content: center;
        column-gap: 5px;
        row-gap: 5px; 
       
    }
    .image-grid-comedor img {
        border-radius: 5px; 
        border: 1.5px solid rgb(35, 41, 37); 
        width: 70px;
        height: 80px;
    }
    .pie-de-section-comedor {
        height: 30px; 
        font-size: 3vw;
        text-align: center;
    }
    /******************************************************seccion living responsive***************************************/
    .title-living {
        height: 30px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 5.5vw;
        line-height: 8vw;  /*Centre el texto a lo alto*/
    }
    .fondo-living {
        height: 350px;
    }
    .image-grid-living {
        height: 350px;
        grid-template-columns: repeat(3, 80px);
        grid-template-rows: repeat(3, 100px);
        justify-content: center;
        align-content: center;
        column-gap: 5px;
        row-gap: 5px; 
    }
    .image-grid-living img {
        border-radius: 5px; 
        border: 1.5px solid rgb(35, 41, 37); 
        width: 70px; 
        height: 80px;
    }
    .pie-de-section-living {
        height: 30px; 
        font-size: 3vw;
        text-align: center;
    }
    /********************************seccion de dormitorio responsive******************************************************/
    .title-dormitorio {
        height: 30px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 5.5vw;
        line-height: 8vw;  /*Centre el texto a lo alto*/
    }
    .fondo-dormitorio {
        height: 350px;
    }
    .image-grid-dormitorio {
        height: 350px;
        grid-template-columns: repeat(3, 80px);
        grid-template-rows: repeat(3, 100px);
        justify-content: center;
        align-content: center;
        column-gap: 5px;
        row-gap: 5px; 
    }
    .image-grid-dormitorio img {
        border-radius: 5px; 
        border: 1.5px solid rgb(35, 41, 37); 
        width: 70px;
        height: 80px;
    }
    .pie-de-section-dormitorio {
        height: 30px; 
        font-size: 3vw;
        text-align: center;
    }

    /********************************seccion de baño responsive******************************************************/
    .title-baño {
        height: 30px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 5.5vw;
        line-height: 8vw;  /*Centre el texto a lo alto*/
    }
    .fondo-baño {
        height: 350px;
    }
    .image-grid-baño {
        height: 350px;
        grid-template-columns: repeat(3, 80px);
        grid-template-rows: repeat(3, 100px);
        justify-content: center;
        align-content: center;
        column-gap: 5px;
        row-gap: 5px; 
    }
    .image-grid-baño img {
        border-radius: 5px; 
        border: 1.5px solid rgb(35, 41, 37); 
        width: 70px;
        height: 80px;
    }
    .pie-de-section-baño {
        height: 30px; 
        font-size: 3vw;
        text-align: center;
    }
    /********************************seccion de jardin responsive******************************************************/
    /*****************************************terraza y jardin tienen una version distinta en el grid, para consultarlo********************************************/
    .title-jardin {
        height: 30px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 5.5vw;
        line-height: 8vw;  /*Centre el texto a lo alto*/
    }
    .fondo-jardin {
        height: 350px;
    }
    .image-grid-jardin {
        height: 350px;
        grid-template-columns: repeat(3, 80px);
        grid-template-rows: repeat(3, 100px);
        justify-content: center;
        align-content: center;
        column-gap: 5px;
        row-gap: 5px; 
    }
    .image-grid-jardin img {
        border-radius: 5px; 
        border: 1.5px solid rgb(35, 41, 37); 
        width: 70px;
        height: 80px;
    }
    .pie-de-section-jardin {
        height: 30px; 
        font-size: 3vw;
        text-align: center;
    }
    /******************************************************seccion terraza responsive***************************************/
    .title-terraza {
        height: 30px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 5.5vw;
        line-height: 8vw;  /*Centre el texto a lo alto*/
    }
    .fondo-terraza {
        height: 350px;
    }
    .image-grid-terraza {
        height: 350px;
        grid-template-columns: repeat(3, 80px);
        grid-template-rows: repeat(3, 100px);
        justify-content: center;
        align-content: center;
        column-gap: 5px;
        row-gap: 5px; 
    }
    .image-grid-terraza img {
        border-radius: 5px; 
        border: 1.5px solid rgb(35, 41, 37); 
        width: 70px; 
        height: 80px;
    }
    .pie-de-section-terraza {
        height: 30px; 
        font-size: 3vw;
        text-align: center;
    }
    .navegacion-lateral{
        width:  90px;
    }
    .menu-lateral > li > a{
        font-size: 12px;    
    }
    .submenu-lateral li a{
        font-size: 12px;
    }
    /***********      video     ******************/
    .contenedor-video-central{
        display: block;
        margin-left: 15px;  
    }
    .video-iframe{
        width: 238px;
        height: 220px;
    }
    /*falta preguntar como eliminar la separacon entre video y comentario*/
    .comentario-video{
        font-size: 18px;
        line-height: 30px;
    }
     
}

/***********************************************************version tablet*************************************************************/
@media screen and (min-width: 768px) and (max-width: 1023px) {    /*se usa como modelo ipad pro*/
    /******************************************************seccion cocina responsive***************************************/
    .title-cocina {
        width: 100%;
        height: 60px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 4.5vw;
        line-height: 8vw;  /*Centre el texto a lo alto*/
    }
    .fondo-cocina {
        width: 100%;
        height: 600px;
    }
    .image-grid-cocina {
        height: 600px;
        grid-template-columns: repeat(4, 185px);
        column-gap: 0px;
        row-gap: 10px;     
    }
    .image-grid-cocina img {
        border: 2px solid rgb(35, 41, 37); 
        width: 150px;
    }
    .pie-de-section-cocina {
        height: 60px; 
        font-size: 2vw;
    }
    /******************************************************seccion comedor responsive***************************************/
    .title-comedor {
        width: 100%;
        height: 60px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 4.5vw;
        line-height: 8vw;  /*Centre el texto a lo alto*/
    }
    .fondo-comedor {
        width: 100%;
        height: 600px;
    }
    .image-grid-comedor {
        height: 600px;
        grid-template-columns: repeat(4, 185px);
        column-gap: 0px;
        row-gap: 10px; 
    }
    .image-grid-comedor img {
        border: 2px solid rgb(35, 41, 37); 
        /* max-height: calc(90% - 0.6vw); no respetaba las dimensiones como en el caso de jardin y terraza */
        width: 150px;
    }
    .pie-de-section-comedor {
        height: 60px; 
        font-size: 2vw;
    }
    /******************************************************seccion living responsive***************************************/
    .title-living {
        width: 100%;
        height: 60px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 4.5vw;
        line-height: 8vw;  /*Centre el texto a lo alto*/
    }
    .fondo-living {
        width: 100%;
        height: 600px;
    }
    .image-grid-living {
        height: 600px;
        grid-template-columns: repeat(4, 185px);
        column-gap: 0px;
        row-gap: 10px; 
        /* padding: 5vw; se añadio */
    }
    .image-grid-living img {
        border: 2px solid rgb(35, 41, 37); 
        width: 150px; 
    }
    .pie-de-section-living {
        height: 60px; 
        font-size: 2vw;
    }
    /********************************seccion de dormitorio responsive******************************************************/
    .title-dormitorio {
        width: 100%;
        height: 60px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 4.5vw;
        line-height: 8vw;  /*Centre el texto a lo alto*/
    }
    .fondo-dormitorio {
        width: 100%;
        height: 600px;
    }
    .image-grid-dormitorio {
        height: 600px;
        grid-template-columns: repeat(4, 185px);
        column-gap: 0px;
        row-gap: 10px; 
    }
    .image-grid-dormitorio img {
        border: 2px solid rgb(35, 41, 37); 
        width: 150px;
    }
    .pie-de-section-dormitorio {
        height: 60px; 
        font-size: 2vw;
    }

    /********************************seccion de baño responsive******************************************************/
    .title-baño {
        width: 100%;
        height: 60px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 4.5vw;
        line-height:8vw;  /*Centre el texto a lo alto*/
    }
    .fondo-baño {
        width: 100%;
        height: 600px;
    }
    .image-grid-baño {
        height: 600px;
        grid-template-columns: repeat(4, 185px);
        column-gap: 0px;
        row-gap: 10px; 
    }
    .image-grid-baño img {
        border: 2px solid rgb(35, 41, 37); 
        width: 150px; 
    }
    .pie-de-section-baño {
        height: 60px; 
        font-size: 2vw;
    }
    /********************************seccion de jardin responsive******************************************************/
    /*****************************************terraza y jardin tienen una version distinta en el grid, para consultarlo********************************************/
    .title-jardin {
        width: 100%;
        height: 60px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 4.5vw;
        line-height: 8vw;  /*Centre el texto a lo alto*/
    }
    .fondo-jardin {
        width: 100%;
        height: 600px;
    }
    .image-grid-jardin {
        height: 600px;
        grid-template-columns: repeat(4, 185px);
        column-gap: 0px;
        row-gap: 10px; 
    }
    .image-grid-jardin img {
        border: 2px solid rgb(35, 41, 37); 
        width: 150px;
    }
    .pie-de-section-jardin {
        height: 60px; 
        font-size: 2vw;
    }
    /******************************************************seccion terraza responsive***************************************/
    .title-terraza {
        width: 100%;
        height: 60px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 4.5vw;
        line-height: 8vw;  /*Centre el texto a lo alto*/
    }
    .fondo-terraza {
        width: 100%;
        height: 600px;
    }
    .image-grid-terraza {
        height: 600px;
        grid-template-columns: repeat(4, 185px);
        column-gap: 0px;
        row-gap: 10px; 
       
    }
    .image-grid-terraza img {
        border: 2px solid rgb(35, 41, 37); 
        width: 150px;
    }
    .pie-de-section-terraza {
        height: 60px; 
        font-size: 2vw;
    }
    /***********      video     ******************/
    .contenedor-video-central{
        display: block;
        margin-left: 128px;  
    }
    .video-iframe{
        width: 390px;
        height: 230px;
    }
    /*falta preguntar como eliminar la separacon entre video y comentario*/
    .comentario-video{
        font-size: 21px;
        line-height: 30px;
    }
}
