*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    background: #52313c;
    overflow-x: hidden;
}

header {
    background-color:rgb(148, 128, 128);
    height: 80px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 100;
    overflow: hidden;
}

.header_logo {
    display: block;
    padding: 20px;
    color: rgb(190, 72, 17);
    font-weight: bold;
    line-height: 10px;  /*me centro el logo porque le di el tamaño del navegador*/
    text-decoration: none;
}

.logo_inicio {
    height: 40px;    
    background: none;
    color: rgb(190, 72, 17);
    border: none;
    font-size: 20px;
    cursor: pointer;
    -webkit-transition: font-size 1s ease;
    transition: font-size 1s ease;
}

.logo_inicio:hover {
    font-size: 25px;
}

.navegador_menu {
    padding-bottom: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__principal, .botones {
    float: right;
    margin-right: 20px;
    max-height: 0;
    transition: max-height .2s ease-out;
}

.menu__item, .menu-btn {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

.link__page {
    color: #000;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    -webkit-transition: 1s linear;
    transition: 1s linear;
}

li a:hover {
    opacity: 0.3;
}

.inicio-btn, .registro-btn {
    background:none;
    border: none;
    font-size: 15px;
    cursor: pointer;
}

.check-btn {
    font-size: 30px;
    color: #181818;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/* responsive para tablet*/
@media (max-width: 952px) {
    .header_logo {
        padding-left: 20px;
    }
    .link__page {
        font-size: 16px;
    }

    .texto__inicio {
        font-size: 13px;
    }
}

/* responsive para celular*/
@media (max-width: 858px) {
    .check-btn {
        display: block;
        font-size: 20px;
        position: relative;
    }

    .menu__principal {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #c1baba;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    .texto__inicio {
        display: none;
    }

    .menu__item {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    li a.hover {
        background: none;
        color: rgb(87, 85, 85);
    }
    #check:checked ~ ul {
        left: 0;

    }
}

/*********************************************************menu lateral**********************************************/


.navegacion-lateral{
 
    width:  150px;
    background-color: rgb(164, 98, 98) ;
    /*position: fixed;   esto sirve para que el menu quede fijo en la posicion que esta auque se escrolee, aca no tiene sentido usarlo*/ 
    border-radius: 3px;
}


.navegacion-lateral ul{   /*estoy llamando a las listas "ul" que estan dentro de "nav-lat"*/
    list-style: none;   /*saque los puntos de la lista*/
    /*display: block;*/
    /*justify-content: space-between;*/
}

.menu-lateral > li > a{
    display: block; /*les damos bloques*/
    padding: 15px; 
    color: black;
    font-family: 'Arial Narrow Bold';  /*cambiar por uno mejor*/
    font-size: 18px;
    text-decoration: none;    
}
.menu-lateral > li > a:hover{
    color: #fff;
    background-color: rgba(0,0,0,0.3);
    cursor: pointer;   
    
}
.menu-lateral li a:hover{    /*tengo que fucionarla con la de arriba*/
    /*color: blue;  para que cambien de color: cocina, comedor, etc */
    
    transition: all .3s;
}

.menu-lateral li:hover .submenu-lateral{  /*jardin terraza*/
    display: block;
    visibility: visible;  /*este reeemplaza al "display" para poder darle un efecto*/
    opacity: 1;   
    transition: all .6s;
    background-color: rgba(125, 14, 14, 0.242);
}
.menu-lateral li .submenu-lateral{
    padding: 15px;
    margin: 0;
    background: rgba(0,0,0,0.2);   
}

/************************************************video de nosotros*********************************************************/

.contenedor-menu-lateral-video{
    display: flex;
    
}
.contenedor-video-central{
    display: block;
    margin-left: 280px;
    /*border: black solid 3px;*/
}
/*falta preguntar como eliminar la separacon entre video y comentario*/
.comentario-video{
    padding-bottom: 8px;
    font-size: 28px;
    font-family: cursive;
    color: rgb(18, 10, 18);
    background-color: rgb(220, 167, 68);
}
.comentario-video p{
    text-align: center;  /*envio el texto al centro*/
}

/**************************************submenu lateral****************************************************/
.submenu-lateral{
    position: flex;
    visibility: hidden;  /*este reeemplaza al "display" para poder darle un efecto*/
   
    transition: opacity 1s;
    border-radius: 3px; 
    display: none;  
}
.submenu-lateral li{
    display: block;
   
}
.submenu-lateral li a{
    display: block;  /*coloco las "subsolapas" en bloque*/
    padding: 15px;   /* les dio 15px a todos los lado*/
    font-size: 18px;
    color: black;  /*las letras son blancas ahora*/
    text-decoration: none;  /*saco el subrayado*/
    transition: all 0.5s;  
}
.submenu-lateral li a:hover{
    color: #fff;
}
.icono{
    float: right;
    font-size: 16px;
}
h2{
    margin: 10px;
    color: black;
    /*font-size: 20px;*/
    font-family: 'Arial Narrow'; 
       
}

/********************************************************** imagenes y fondo cocina******************************************************/
.title-cocina{
    width: 100%;
    height: 50px;
    background-color: rgb(180, 81, 81);
    text-align: center;
    line-height: 50px;
    font-size: 28px;
    font-family: cursive;
}
.fondo-cocina{
    background-image: url("../static/img/imagen-cocina.jpg");
    background-size: cover;
    width: 100%;
    height: 650px;
    opacity: 0.6;

}
.image-grid-cocina{
    display: grid;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(2, 300px);
    justify-content: center;
    align-content: center;
    column-gap: 80px;
    row-gap: 40px;  
}
.image-grid-cocina img{
    border-radius: 10px;
    border: 3px solid rgb(35, 41, 37);
    width: 100%;
    height: 100%;
    max-height: calc(90% - 3px);
    object-fit: cover;
}
.pie-de-section-cocina{
    height: 60px;
    background-color: rgb(180, 81, 81);
    width: 100%;
    color: black;
    font: message-box;

}
/******************************************************************* imagenes y fondo comedor***************************************************/
.title-comedor{
    width: 100%;
    height: 50px;
    background-color: gray;
    text-align: center;
    line-height: 50px;
    font-size: 28px;
    font-family: cursive;
}
.fondo-comedor{
    background-image: url("../static/img/imagen-comedor.jpg");
    background-size: cover;
    width: 100%;
    height: 650px;
    opacity: 0.6;
}
.image-grid-comedor{
    display: grid;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(2, 300px);
    justify-content: center;
    align-content: center;
    column-gap: 80px;
    row-gap: 40px;  
}
.image-grid-comedor img{
    border-radius: 10px;
    border: 3px solid rgb(35, 41, 37);
    width: 100%;
    height: 100%;
    max-height: calc(90% - 3px);
    object-fit: cover;
}
.pie-de-section-comedor{
    height: 60px;
    background-color: gray;
    width: 100%;
    color: black;
    font: message-box;

}
/********************************************************** imagenes y fondo living****************************************************/
.title-living{
    width: 100%;
    height: 50px;
    background-color: goldenrod;
    text-align: center;
    line-height: 50px;
    font-size: 28px;
    font-family: cursive;
}
.fondo-living{
    background-image: url("../static/img/imagen-living.jpg");
    background-size: cover;
    width: 100%;
    height: 650px;
    opacity: 0.6;
}
.image-grid-living{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(2, 300px);
    justify-content: center;
    align-content: center;
    column-gap: 80px;
    row-gap: 40px;  
}
.image-grid-living img{
    border-radius: 10px;
    border: 3px solid rgb(35, 41, 37);
    width: 100%;
    height: 100%;
    max-height: calc(90% - 3px);
    object-fit: cover;
}
.pie-de-section-living{
    height: 60px;
    background-color: goldenrod;
    width: 100%;
    color: black;
    font: message-box;
}
/************************************************** imagenes y fondo dormitorio**************************************************/
.title-dormitorio{
    width: 100%;
    height: 50px;
    background-color: rgb(143, 133, 189);
    text-align: center;
    line-height: 50px;
    font-size: 28px;
    font-family: cursive;
}
.fondo-dormitorio{
    background-image: url("../static/img/imagen-dormitorio.jpg");
    background-size: cover;
    width: 100%;
    height: 650px;
    opacity: 0.6;
}
.image-grid-dormitorio{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(2, 300px);
    justify-content: center;
    align-content: center;
    column-gap: 80px;
    row-gap: 40px;  
}
.image-grid-dormitorio img{
    border-radius: 10px;
    border: 3px solid rgb(35, 41, 37);
    width: 100%;
    height: 100%;
    max-height: calc(90% - 3px);
    object-fit: cover;
}
.pie-de-section-dormitorio{
    height: 60px;
    background-color: rgb(143, 133, 189);
    width: 100%;
    color: black;
    font: message-box;
}
/************************************************************ imagenes y fondo baño*********************************************************/
.title-baño{
    width: 100%;
    height: 50px;
    background-color: rgb(23, 4, 109);
    text-align: center;
    line-height: 50px;
    font-size: 28px;
    font-family: cursive;
}
.fondo-baño{
    background-image: url("../static/img/imagen-baño.jpg");
    background-size: cover;
    width: 100%;
    height: 650px;
    opacity: 0.6;
}
.image-grid-baño{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(2, 300px);
    justify-content: center;
    align-content: center;
    column-gap: 80px;
    row-gap: 40px;  
}
.image-grid-baño img{
    border-radius: 10px;
    border: 3px solid rgb(35, 41, 37);
    width: 100%;
    height: 100%;
    max-height: calc(90% - 3px);
    object-fit: cover;
}
.pie-de-section-baño{
    height: 60px;
    background-color: rgb(23, 4, 109);
    width: 100%;
    color: black;
    font: message-box;
}

/*************************************************************** imagenes y fondo jardin*****************************************************/
.title-jardin{
    width: 100%;
    height: 50px;
    background-color: rgb(83, 189, 106);
    text-align: center;
    line-height: 50px;
    font-size: 28px;
    font-family: cursive;
}
.fondo-jardin{
    position: relative;
    background-image: url("../static/img/imagen-jardin.jpg");
    background-size: cover;
    width: 100%;
    height: 650px;
    opacity: 0.6;
}
.image-grid-jardin{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(2, 300px);
    justify-content: center;
    align-content: center;
    column-gap: 80px;
    row-gap: 40px;  
}
.image-grid-jardin img{
    border-radius: 10px;
    border: 3px solid rgb(35, 41, 37);
    width: 100%;
    height: 100%;
    max-height: calc(90% - 3px);
    object-fit: cover;
}
.pie-de-section-jardin{
    height: 60px;
    background-color: rgb(83, 189, 106);
    width: 100%;
    color: black;
    font: message-box;
}
/************************************************************ imagenes y fondo terrazas*****************************************************/
.title-terraza{
    width: 100%;
    height: 50px;
    background-color: rgb(192, 138, 58);
    text-align: center;
    line-height: 50px;
    font-size: 28px;
    font-family: cursive;
}
.fondo-terraza{
    position: relative;
    background-image: url("../static/img/imagen-terraza.jpg");
    background-size: cover;
    width: 100%;
    height: 650px;
    opacity: 0.6;
}
.image-grid-terraza{
    display: grid;
    width: 100%;
    height: 100%;
    /*grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));   NO LO ENTENDI BIEN AUN */
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(2, 300px);
    justify-content: center;
    align-content: center;
    column-gap: 80px;
    row-gap: 40px;  
}
.image-grid-terraza img{
    border-radius: 10px;
    border: 3px solid rgb(35, 41, 37);
    width: 100%;
    height: 100%;
    max-height: calc(90% - 3px);
    object-fit: cover;
}
.pie-de-section-terraza{
    height: 60px;
    background-color: rgb(192, 138, 58);
    width: 100%;
    color: black;
    font: message-box;
}
.pie-de-pagina{
    width: 100%;
    height: 300px;
    background-color: black;
    color: #fff;
    text-align: center;
}
.boton{
    position: fixed;  /*lo fijo a la posicion de 350px respecto del limite inferior*/
    /*bottom: 320px;  lo elevo 350px ya que el pie de pagina tiene 300px */
    bottom: 100px;
    right: 50px;  /*lo alejo 50px del lateral derecho*/
    height: 35px;
    width: 35px;
    font-size: 45px;
    
}

.boton i{
    border: black solid 2px;
    border-radius: 50%;
    color: rgb(28, 4, 28);
    cursor: pointer;
} 
.boton i:hover{
    color: #c42d5f;
}
                                                                                                                                                                                                          


@media only screen and (max-width: 600px){
    .image-grid{
        grid-template-columns: repeat(1, minmax (200px, 1fr));  /*lo tengo que cabiar para que sean dos columnas */
    }
}

/*
@media (min-width: 700px) {
    .navegacion {
        flex-wrap: nowrap;
        padding: 0;
    }
}
*/
/*
@media (min-width: 700px) {
    .menu__inner {
        margin-inline-start: .5rem;
    }
}
*/
/*intentamos sombrear 
.contenedor{
    position: relative;
    display: inline-block;
}
.contenedor img{
    display: block;
    max-width: 100%;
    height: auto;
}
.contenedor::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
}
termina sombreado. No funciono, quedo horrible*/

/*.fondo-cocina{
    height: 700px;
    background-image: url("../static/img/imagen-cocina.jpg");
    background-size: contain;
    background-position: center;
    opacity: 0.3;
}


.fondo-comedor{
    height: 700px;
    background-image: url("../static/img/imagen-comedor.jpg");
    background-size: contain;
    background-position: center;
    opacity: 0.3;
}

.fondo-living{
    height: 700px;
    background-image: url("../static/img/imagen-deco.jpg");
    background-size: contain;
    background-position: center;
    opacity: 0.3;
}
.fondo-dormitorio{
    height: 700px;
    background-image: url("../static/img/imagen-dormitorio.jpg");
    background-size: contain;
    background-position: center;
    opacity: 0.3;
}
.fondo-baño{
    height: 700px;
    background-image: url("../static/img/imagen-baño.jpg");
    background-size: contain;
    background-position: center;
    opacity: 0.3;
}
.fondo-jardin{
    height: 700px;
    background-image: url("../static/img/imagen-jardin.jpg");
    background-size: contain;
    background-position: center;
    opacity: 0.3;
}
.fondo-terraza{
    height: 700px;
    background-image: url("../static/img/imagen-terraza.jpg");
    background-size: contain;
    background-position: center;
    opacity: 0.3;
}*/
