<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de sesion</title>
    <link rel="stylesheet" href="../static/css/inicio.css">
    <link rel="stylesheet" href="../static/css/boton-inicio.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
</head>
<body>
    <header>
        <div class="nom-pag">
           <h1>ART/DEC</h1>
        </div>
    </header>
    <main>
        <br>
        <br>
        <br>
        <section class="google-face-container">
            <div class="google-face-items">
                <div class="item-google">
                    <label for="">
                        <a class="ini-google" href="https://www.google.com/">
                            Iniciar sesion con google
                        </a>
                    </label>
                    
                </div>
                <br>
                <div class="item-face">
                    <label for="">
                        <a class="ini-face" href="https://www.facebook.com/">
                            Iniciar sesion con Facebook
                        </a>
                    </label> 
                </div>
            </div>
        </section>    
        <section class="correo-pass">
                <form action="#" id="formInicio" method="get" novalidate>  <!--  action="" es la ruta por donde va a enviar lo que ingrese por el metodo que especifique. POST lo uso para enviar a un servidor-->
                    <div class="correo-electronico">
                        <label for="">
                            <p>Correo electronico</p>
                            <input type="email"  required name="campo-email" id="campo-email" placeholder="Por favor ingrese su e-mail">
                        </label>
                        <div class="error" id="error-email"></div>   
                    </div>
                    <div class="contraseña">
                        <label for="">
                            <p>Contraseña</p>
                            <input type="password"  required name="campo-contraseña" id="campo-contraseña" placeholder="ingrese una contraseña valida">
                        </label>
                        <div class="error" id="error-password"></div>    
                    </div>
                    <button type="submit" class="boton-inicio" id="btn-inicio">
                        Iniciar sesion    
                    </button>
                </form>
                <br>
                <br>
            </div>
        </section>
    </main>
    <script src="../static/JS/boton-inicio.js"></script>
    <script src="sweetalert2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> 
    <br>    
    <section>
        <div class="boton">
            <button class="boton-volver">
                <a href="../index.html" class="texto">Volver</a>
            </button>
    
        </div> 
        <br>
        <br>
        <br>
        <br>
        <br>
    </section> 
    
</body>
</html>