<!DOCTYPE html>
<html lang="es">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>carro/mostrador</title>
      <link rel="stylesheet" href="../static/css/muestras_ventas.css">
  </head>
  <body>
      <header>
          <div class="nom-barra">
            <p class="nom-empresa">ART/DEC</p>
          </div>
      </header>
      <br>
      <br>
      <main>
        <div class="titulo-imagenes">
          <p class="text-imagenes">Nuestros productos</p>
        </div>
        <div class="slideshow-container">
            <div class="slide">
              <img src="https://images.pexels.com/photos/2062426/pexels-photo-2062426.jpeg" alt="Imagen1 de cocina">
            </div>
            <div class="slide">
              <img src="https://images.pexels.com/photos/1080721/pexels-photo-1080721.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Imagen2 de cocina">
            </div>
            <div class="slide">
              <img src="https://images.pexels.com/photos/2724749/pexels-photo-2724749.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Imagen3 de cocina">
            </div>
            <div class="slide">
              <img src="https://images.pexels.com/photos/210687/pexels-photo-210687.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="imagen4 de cocina">
            </div>
            <div class="slide">
              <img src="https://images.pexels.com/photos/1599791/pexels-photo-1599791.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="image5 de cocina">
            </div>
            <div class="slide">
              <img src="https://images.pexels.com/photos/3926542/pexels-photo-3926542.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="image6 de cocina">
            </div>
            <div class="slide">
              <img src="https://images.pexels.com/photos/6283972/pexels-photo-6283972.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="image7 de cocina">
            </div>
            <div class="slide">
              <img src="https://images.pexels.com/photos/6032416/pexels-photo-6032416.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="image8 de cocina">
            </div>

            <!-- Agrega más divs con clase "slide" y las imágenes que desees mostrar -->
            
            <!-- Flechas de navegación -->
            <a class="prev" onclick="moveSlide(-1)">&#10094;</a>
            <a class="next" onclick="moveSlide(1)">&#10095;</a>
          </div>   
      </main>
  <script src="../static/JS/muestras_ventas.js"></script>    
  </body>
</html>