<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sucursales</title>
    <link rel="stylesheet" href="../static/css/nuestra-ubicacion.css">
    <style>
        th {
            font-family: sans-serif;
            font-size: 20px;
        }
        td {
            font-size: 15px;
        }
    </style>
</head>
<body style="background-color: rgb(14, 14, 110); color: aliceblue;">
    <header class="bar-superior">
        <h1 style="color: black;">Nuestras sucursales</h1>    
    </header>
    <br>
    <br>
    <main>
        <section class="ubic">
            <div class="map">
                <h2 class="map-titulo">Mapa</h2>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.5584887709183!2d-58.436965624885524!3d-34.590036556774756!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb5897e2eea9f%3A0x1b844c5ae9c295b3!2sThames%201308%2C%20C1414DDB%20Cdad.%20Aut%C3%B3noma%20de%20Buenos%20Aires!5e0!3m2!1sen!2sar!4v1714097766778!5m2!1sen!2sar" width="450" height="350" style="border:black solid 2px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

            <div class="container-suc">
                <h2>Donde nos encontras</h2>
                <br>
                <table class="suc">
                    <thead>
                        <tr>
                            <th>
                                Estamos en:
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Palermo: Thames 1308.</td>
                        </tr>
                        <tr>
                            <td>Chacarita: Av. Forest 401.</td>
                        </tr>
                        <tr>
                            <td>V. Ortuzar: Alvarez Thomas 112.</td>
                        </tr>
                        <tr>
                            <td>Tigre: <mark>"PROXIMAMENTE"</mark></td>
                        </tr>
                    </tbody>                
                </table>
            </div>
        </section>
        <br>
        <br>
        
        <section class="container-medios-transporte">
            <h2>Como llegar a nuestras sucursales?</h2>
            <table class="transportes">   
                <thead>   <!--cabecera de mi tabla-->
                    <tr>  <!--una fila de mi tabla-->
                        <th>  <!--una columna de mi tabla-->
                            Si venis de:
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>      <!--filas del cuerpo de la tabla // <td> serian las columnas del cuerpo-->
                        <td>Chacarita: 111, 39, 47.</td>
                    </tr>  
                    <tr>
                        <td>Once: 71, Subte lines A/B, 90.</td>
                    </tr>
                    <tr>
                        <td>Zona oeste: Ferrocarril Sarmiento/ Subte linea A/B, 90, 71.</td>
                    </tr>
                    <tr>
                        <td>Zona sur: Ferrocarril Roca, Subte linea C/B.</td>
                    </tr>
                </tbody>                
            </table>
        </section>
        <br>
       
        <section>
            <div class="boton">
                <button class="boton-volver">
                    <a href="../index.html" class="texto">Volver</a>
                </button>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
        </section>
    </main>
</body>
</html>