<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Art/dec</title>
        <link rel="stylesheet" href="../static/css/quienes-somos.css">
        <link rel="shortcut icon" href="./static/img/favicon.ico" type="imagen/x-icon">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" rel="stylesheet">
        <script src="https://kit.fontawesome.com/5d2e47122f.js" crossorigin="anonymous"></script>
        <!-- <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png"> -->
        <script src="https://kit.fontawesome.com/90dcf58a88.js" crossorigin="anonymous"></script>  <!--icono de registro-->
    </head>
    <body>
        <header class="header">   <!--aqui va el menu de navegacion-->
            <!-- <h1>Pagina de pruebas</h1> -->
            <div class="header_logo">
            <a href="/index.html" class="logo_inicio">
                <!--Art/dec   tengo que decidir deonde queda mejor!!!!!!!!!!!!-->
                        <i class="fa-solid fa-paint-roller">
                            <span class="texto_logo">Art/dec</span>
                        </i>
                    </a>
            </div>
            <input type="checkbox" id="check">
            <label for="check" class="check_btn">
                    <i class="fa-solid fa-bars"></i>
            </label>
            <nav class="navegador_menu">
                <ul class="menu_principal">
                    <li class="menu_item">
                        <a href="quienes-somos.html" class="link_page">Quiénes somos</a>
                    </li>
                    <li class="menu_item">
                        <a href="#" class="link_page">Tienda</a>
                    </li>
                    <li class="menu_item">
                        <a href="nosotros-ubicacion.html" class="link_page">Sucursales</a>
                    </li>
                </ul>
                <div class="botones">
                    <ul class="botones_menu">
                        <li class="menu__btn">
                            <div class="btn">
                                <a href="inicio-sesion.html" target="_blank" class="link_page">
                                    <i class="fa-solid fa-right-to-bracket" id="inicio_btn"></i>
                                        <span class="texto_inicio">Iniciar sesion</span>
                                </a>
                            </div>
                        </li>
                        <li class="menu__btn">
                            <div class="btn">
                                <a href="registro.html" target="_blank" class="link_page">
                                    <i class="fa-solid fa-user" id="registro_btn"></i>  
                                        <span class="texto_inicio">Registrarse</span>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <main>
            <section class="main_container">
                <div class="inner_container">
                    <div class="inside_container">
                        <div class="main_text">
                            <h1 class="main_title">Quiénes somos</h1>
                            <h2 class="second_title">Ayudándote a
                                <span class="color_doodle">crear</span>
                                espacios increíbles
                            </h2>
                            <p class="text_container">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, fugit accusamus! Est corporis, excepturi molestias hic ea et doloremque necessitatibus quas consequatur rerum dolores ipsum, odio quidem laborum repellendus doloribus?</p>
                            <a href="../templates/inicio-sesion.html" target="_blank" class="log_btn btn_text">Iniciar sesion</a>
                        </div>
                        <div class="picture_container">
                            <div class="inner_picture">
                                <a href="https://www.google.com/" class="about_image">
                                    <img src="https://images.app.goo.gl/nCwGgAbJU8gsErJa6" alt="decoración de interiores">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </body>
    <footer class="footer">
        <div class="footer_container">
            <div class="footer_row">
                <div class="footer_link">
                    <h4>Compañía</h4>
                    <ul>
                        <li><a href="../templates/quienes-somos.html">Nosotros</a></li>
                        <li><a href="#">Términos y condiciones</a></li>
                        <li><a href="#">Politica de privacidad</a></li>
                    </ul>
                </div>
                <div class="footer_link">
                    <h4>Ayuda</h4>
                    <ul>
                        <li><a href="#">Preguntas</a></li>
                        <li><a href="#">Compras</a></li>
                        <li><a href="#">Envíos</a></li>
                    </ul>
                </div>
                <div class="footer_link">
                    <h4>Seguinos</h4>
                    <div class="redes_link">
                        <a href="#" class="facebook_icono"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="instagram_icono"><i class="fab fa-instagram"></i></a>
                        <a href="#" class="twitter_icono"><i class="fab fa-twitter"></i></a>
                        <a href="#" class="linkedin_icono"><i class="fab fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</html>
