<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse</title>
    <link rel="stylesheet" href="../static/css/registro.css">
    <link rel="shortcut icon" href="./static/img/favicon.ico" type="imagen/x-icon">  <!--tengo que asegurarme que es el icono que busco-->
    <link rel="stylesheet" href="../static/JS/boton-registro.js">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    
    
</head>
<body>
    <header>
         <div class="nom-pag">
            <h1>ART/DEC</h1>
         </div>
    </header>
    <br>
    <main>
        <section class="reg-container">
            <div class="registro-items">
                <h2>Registrarse</h2>
                <form action="#" id="formRegister" method="GET" novalidate>  <!--  action="" es la ruta por donde va a enviar lo que ingrese por el metodo que especifique. POST lo uso para enviar a un servidor-->
                    <div class="form-control">
                        <label>Usuario</label>
                        <input type="text" required name="campo-usuario" id="campo-usuario">
                    </div>
                    <div>
                        <label>Nombre</label>
                        <input type="text" required name="campo-nombre" id="campo-nombre">
                    </div>
                    <div>
                        <label>Apellido</label>
                        <input type="text" required name="campo-apellido" id="campo-apellido">
                    </div>
                    <div class="error" id="error-apellido"></div>
                    <div>
                        <label>Fecha de nacimiento</label>
                        <input type="date" required name="campo-fecha" id="campo-fecha">
                    </div>
                    <div>
                        <label for="email">e-mail</label>
                        <input type="email"  required name="campo-email" id="campo-email">
                    </div>
                    <div class="error" id="error-email"></div>
                    <div class="form-control">
                        <label for="pais">Pais de recidencia</label required>
                        <select name="pais" id="pais" class="form-select">
                            <option value="">Pais</option>
                            <option value="BR">Brasil</option>
                            <option value="JA">Japon</option>
                            <option value="RU">Rusia</option>
                            <option value="CHI">China</option>
                        </select>
                    </div>
                    <div class="form-control">
                        <label for="barrio">Barrio</label>
                        <select name="barrio" id="barrio" class="form-select">
                            <option value="CABA">Capital federal</option>
                            <option value="moron">Moron</option>
                            <option value="Avellaneda">Avellaneda</option>
                            <option value="Quilmes">Quilmes</option>
                            <option value="Pacheco">Pacheco</option>
                        </select>
                    </div>
                    <div class="form-control">
                        <label>Contraseña</label>
                        <input type="password" required name="campo-contraseña" id="campo-contraseña">
                    </div>
                    <div class="error" id="error-password"></div>
                    <div>
                        <label>Repetir contraseña</label>
                        <input type="password" required name="campo-repetir-contraseña" id="campo-repetir-contraseña">
                    </div>
                    <div class="error" id="error-re-password"></div>


                    <div class="form-terms">
                
                        <input type="checkbox" id="term-cond" required>
                        <label for="term-cond">Acepto los terminos y condiciones</label>
                    </div>
                    <!--<input type="submit" value="Registrarse">  este equivale a button-->
                    <button type="submit" class="boton-registro" id="btn">  <!-- tengo que ver showAlert-->
                        Registrarse    
                    </button>   
                </form>   
            </div>
        </section>
    
        <br>
          
        <section>
            <div class="boton">
                <button class="boton-volver">
                    <a href="../index.html" class="texto">Volver</a>
                </button>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
        </section>
    </main>
    <script src="sweetalert2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../static/JS/boton-registro.js"></script>
</body>
</html>